<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337688619824-78ppqcpptdt9je3hm6ale1b1nqo32he7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337688619824-78ppqcpptdt9je3hm6ale1b1nqo32he7</string>
	<key>API_KEY</key>
	<string>AIzaSyAeCEKVSGpWRRqtHyPjb50ZMf7zS-5uZeg</string>
	<key>GCM_SENDER_ID</key>
	<string>337688619824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentApp</string>
	<key>PROJECT_ID</key>
	<string>rent-app-a98f7</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-app-a98f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337688619824:ios:11018c41eaa74e3d2ff6f5</string>
</dict>
</plist>